.banner {
  text-align: center;
  padding: 20px;
  background-color: #f7f5f0; /* Light beige background color */
  color: #2c2926; /* Dark brown text color */
}

.banner {
  background-image: url('src/assets/images/Likedsongs.jpg');
  background-size: cover; /* Adjust to your preference */
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 40vh; /* Set the height as needed */
}

.music-table {
  color: #2c2926; /* Dark brown text color */
  display: flex;
  flex-direction: column;
}

.music-header {
  display: flex;
  color: rgba(120, 53, 15, var(--tw-bg-opacity));
  border-bottom: 1px solid #d3ccc5; /* Light brown border color */
  font-weight: bold;
  justify-content: space-between;
}

.music-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d3ccc5; /* Light brown border color between items */
  padding: 5px;
}

.music-cell {
  flex: 1;
  padding: 5px;
  align-items: center; /* Add this property for vertical center alignment */
  text-align: left;
}

.music-cell-title {
  flex: 1;
  padding: 5px;
  align-items: center; /* Add this property for vertical center alignment */
  text-align: left;
}

.heart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.favorite {
  fill: red; /* Change to your desired color for the favorite heart */
}
