<section>
  <!-- Banner -->
  <div class="banner">
  </div>
  <h2 class="text-amber-900 p-3">Your liked songs</h2>
  <!-- Music List (Styled as a Table) -->
  <table class="music-table">
    <thead>
      <tr class="music-header">
        <th class="music-cell-title"># Title</th>
        <th class="music-cell-title">Artist</th>
        <th class="music-cell-title">Album</th>
        <th class="music-cell-title">Duration</th>
        <th class="music-cell-title">Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musicItem of musicList; let i = index" class="music-row">
        <td class="music-cell">{{ musicItem.title }}</td>
        <td class="music-cell">{{ musicItem.artist }}</td>
        <td class="music-cell">{{ musicItem.album }}</td>
        <td class="music-cell">{{ musicItem.duration }}</td>
        <td class="music-cell">
          <!-- Heart Icon -->
            <img
            class="h-6 w-6 cursor-pointer"
            [src]=" musicItem.favorite ? 'assets/icons/hero-heart-solid.svg' : 'assets/icons/hero-heart-outlined-gray.svg'"
            alt="Heart Icon"
            (click)="toggleHeartColor(musicItem)"
            />
        </td>
      </tr>
    </tbody>
  </table>
</section>
