<section>
  <!-- Banner -->
  <div class="banner">
  </div>
  <h2 class="text-amber-900 p-3">Your liked songs</h2>
  <!-- Music List (Styled as a Table) -->
  <table class="music-table">
    <thead>
      <tr class="music-header">
        <th class="music-cell-title"># Title</th>
        <th class="music-cell-title">Artist</th>
        <th class="music-cell-title">Album</th>
        <th class="music-cell-title">Duration</th>
        <th class="music-cell-title">Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musicItem of musicList; let i = index" class="music-row">
        <td class="music-cell">{{ musicItem.title }}</td>
        <td class="music-cell">{{ musicItem.artist }}</td>
        <td class="music-cell">{{ musicItem.album }}</td>
        <td class="music-cell">{{ musicItem.duration }}</td>
        <td class="music-cell">
          <!-- Heart Icon -->
          <div
            class="heart-icon"
            [class.favorite]="favoriteStates[i]"
            (click)="toggleHeartColor(i)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 24 24"
            >
              <path
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
              />
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>