<div class="container mx-auto p-4">
  <h1 class="text-2xl font-semibold text-black mb-4">Create New Genre</h1>
  <form (ngSubmit)="onSubmit()" #genreForm="ngForm">
    <div class="mb-4">
      <label for="genreName" class="block text-gray-700 font-bold text-black"
        >Genre Name:</label
      >
      <input
        type="text"
        id="genreName"
        name="genreName"
        class="form-input text-black"
        ngModel
        required
      />
    </div>
    <div class="mb-4">
      <label
        for="genreDescription"
        class="block text-gray-700 font-bold text-black"
        >Genre Description:</label
      >
      <textarea
        id="genreDescription"
        name="genreDescription"
        class="form-textarea text-black"
        ngModel
        required
      ></textarea>
    </div>
    <div class="mb-4">
      <label for="playlistName" class="block text-gray-700 font-bold text-black"
        >Playlist Name:</label
      >
      <input
        type="text"
        id="playlistName"
        name="playlistName"
        class="form-input text-black"
        ngModel
        required
      />
    </div>
    <div class="mb-4">
      <label for="numSongs" class="block text-gray-700 font-bold text-black"
        >Number of Songs:</label
      >
      <input
        type="number"
        id="numSongs"
        name="numSongs"
        class="form-input text-black"
        [(ngModel)]="numSongs"
        required
      />
    </div>

    <!-- Dynamic input fields for songs -->
    <div class="mb-4" *ngFor="let i of getDynamicInputs()">
      <label for="song{{ i }}" class="block text-gray-700 font-bold text-black"
        >Song {{ i }} ID:</label
      >
      <input
        type="text"
        [id]="'song' + i"
        [name]="'song' + i"
        class="form-input text-black"
        ngModel
        required
      />
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600"
    >
      Create Genre
    </button>
  </form>
</div>
