<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <!-- Sample album card -->
  <div class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div">
    <img
      src="assets/images/Rock.jpg"
      alt="Album"
      class="w-full h-48 object-contain"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Rock</h2>
    </div>
  </div>

  <div class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div">
    <img
      src="assets/images/Pop.jpg"
      alt="Album"
      class="w-full h-48 object-contain"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Pop</h2>
    </div>
  </div>

  <div class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div">
    <img
      src="assets/images/HipHop.png"
      alt="Album"
      class="w-full h-48 object-cover"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Hip-hop/Rap</h2>
    </div>
  </div>

  <div
    class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div"
  >
    <img
      src="assets/images/Electronic.jpg"
      alt="Album"
      class="w-full h-48 object-cover"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Electronic</h2>
    </div>
  </div>

  <div class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div">
    <img
      src="assets/images/Metal.jpg"
      alt="Album"
      class="w-full h-48 object-cover"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Metal</h2>
    </div>
  </div>

  <div class="bg-yellow-700 rounded-lg overflow-hidden shadow-lg interactive-div">
    <img
      src="assets/images/Vallenato.jpg"
      alt="Album"
      class="w-full h-48 object-cover"
    />
    <div class="p-4">
      <h2 class="text-gray-300 font-semibold text-xl mb-2">Vallenato</h2>
    </div>
  </div>

  <!-- Repeat similar card elements for other albums -->
</section>
