<div class="w-full flex">
  <div class="md:w-3/5 md:h-screen">
    <video
      autoplay
      muted
      loop
      class="h-full w-full object-cover hue-rotate-15 sepia brightness-50	"
    >
      <source src="assets/videos/banner-video.mp4" type="video/mp4" />
    </video>
  </div>
  <main
    class="flex md:flex-col md:h-screen md:w-2/5 justify-between items-center"
  >
    <section
      class="flex flex-col py-20 px-11 items-center justify-center gap-11"
    >
      <article class="w-full flex flex-col p-3 items-start gap-3">
        <h1 class="font-bold">Login</h1>
        <h2>Please enter your login details to sign in.</h2>
      </article>

      <input
        type="text"
        class="w-full rounded-xl border-2 border-D1D1D1 p-4"
        placeholder="Email address"
      />

      <input
        type="password"
        class="w-full rounded-xl border-2 border-D1D1D1 p-4"
        placeholder="Password"
      />

      <div class="flex w-full items-center justify-between px-1">
        <span class="flex gap-3 items-center">
          <input type="checkbox" name="" id="" />
          <p>Keep me logged id</p>
        </span>
        <a href="">Forgot password?</a>
      </div>

      <button type="button" class="bg-purple-500 w-full rounded-xl p-4">
        <h2 class="text-white">Sing in</h2>
      </button>

      <span class="flex w-full items-center gap-3">
        <p>Don't have an account?</p>
        <a href=""> Sing up</a>
      </span>

      <div>
        <p>Or continue with</p>
      </div>

      <div class="w-full flex gap-16 justify-center">
        <img src="assets/images/google.svg" alt="" class="h-16" />
        <img src="assets/images/microsoft.svg" alt="" class="h-16" />
      </div>
    </section>
  </main>
</div>
