<aside class="h-full">
  <div class="flex flex-col h-full">
    <div class="flex items-center justify-center py-8">
      <img
        src="assets/images/MusicList-white.svg"
        alt="Music list logo"
        width="96px"
        height="96px"
      />
      <h3 class="text-white font-bold">Music list</h3>
    </div>
    <div
      class="flex flex-col h-full justify-between items-start self-stretch p-4"
    >
      <nav class="flex flex-col items-start justify-between w-full">
        <a
          routerLink="/admin"
          href=""
          class="flex w-full py-3 gap-3 rounded-md hover:bg-[#181648]"
          [class.selected]="isCurrentRoute('/admin')"
        >
          <img
            src="assets/icons/hero-play.svg"
            alt="Home icon"
            width="24px"
            height="24px"
          />
          <span class="text-white">Songs</span>
        </a>
        <a
          routerLink="/admin/genres"
          href=""
          class="flex w-full py-3 gap-3 rounded-md hover:bg-[#181648]"
          [class.selected]="isCurrentRoute('/admin/genres')"
        >
          <img
            src="assets/icons/hero-music.svg"
            alt="Genres icon"
            width="24px"
            height="24px"
          />
          <span class="text-white">Genres</span>
        </a>
        <a
          href="https://github.com/alejandronoss1017/music-list-2023-3"
          target="_blank"
          class="flex w-full py-3 gap-3 rounded-md hover:bg-[#181648]"
        >
          <img
            src="assets/icons/github-original.svg"
            alt="GitHub icon"
            width="24px"
            height="24px"
          />
          <span class="text-white">Source code</span>
        </a>
      </nav>
      <a
        href=""
        class="flex justify-center items-center self-stretch py-3 gap-3 w-full rounded-md hover:bg-[#181648]"
      >
        <img
          src="assets/icons/hero-logout.svg"
          alt="Logout icon"
          width="24px"
          height="24px"
        />
        <span class="text-white">Log out</span>
      </a>
    </div>
  </div>
</aside>
